@tailwind base;
@tailwind components;
@tailwind utilities;

/* Load Material Theme AFTER Tailwind to ensure styles cascade correctly */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}